/* Krona One font import */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
/* Montserrat regular 400 font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* Montserrat regular 600 font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
	box-sizing: border-box;
}

html {
	height: 100vh;
}

body {
	background-color: #000000;
	color: #F6F6F6;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
}

.main {
	padding: 0 15%
}

.main-title {
	line-height: 56px;
	font-family: 'Krona One', sans-serif;
	font-weight: 400;
	font-size: 36px;
	margin-bottom: 40px;
}

.main-content {
	line-height: 36px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 24px;
	margin-bottom: 2em;
}

.container-button {
	display: flex;
	gap: 32px;
	align-items: center;
	flex-direction: column;
}

.main-button-title {
	font-family: 'Krona One', sans-serif;
	line-height: 40px;
	font-size: 24px;
}

.main-ancor {
	color: #F6F6F6;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	border: 2px solid #22D4FD;
	border-radius: 8px;
	width: 378px;
	text-align: center;
	padding: 16px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.text-highlight {
	color: #22D4FD;
}